.cap-section, .cap-action {
  padding: 10px;
}

.cap-table {
  margin: 20px;
  border: 1px solid grey ;
  display: flex;
  flex-direction: column;
}

.cap-row {
  display: flex;
  flex-direction: row;
}

.cap-label {
  padding: 10px;
  width: 20vw;
  font-weight: bold;
}

.cap-field {
  padding: 10px;
}
